.navbar-brand:hover{
    opacity:0.8;
}
.contenu{
    margin: auto;
    position: relative;
    top: 50px;
    width: 100%;
    height: auto;
    background-color: #323233;
    color: white;
    padding: 10px;
    text-align: justify;
}
footer{
    background-color: white;
    height: 100px;
}
.commande{
    padding: 5px;
    border: 2px solid white;
    border-radius: 5px;
    box-shadow: 3px 3px 0px rgba(255, 255, 255, 0.5);
    background-color: rgba(255, 255, 255, 0.3);
    color: white;
    margin: 10px;
}
.titreCommande{
    margin: 2px;
}